<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shooterpro.app">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Для версий Android до 10 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Для Android 10+ используем Scoped Storage -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ShooterPRO"
        android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity 
            android:name=".MainActivity" 
            android:exported="false" 
            android:screenOrientation="portrait" />

        <activity 
            android:name=".DayActivity" 
            android:exported="false" 
            android:screenOrientation="portrait" />

        <activity 
            android:name=".TrainingActivity" 
            android:exported="false" 
            android:screenOrientation="portrait" />

        <activity 
            android:name=".TestActivity" 
            android:exported="false" 
            android:screenOrientation="portrait" />

        <activity 
            android:name=".NotesActivity" 
            android:exported="false" 
            android:screenOrientation="portrait" />

        <activity 
            android:name=".LearningActivity" 
            android:exported="false" 
            android:screenOrientation="portrait" />

        <activity 
            android:name=".StatsActivity" 
            android:exported="false" 
            android:screenOrientation="portrait" />

        <activity 
            android:name=".ExtendedStatsActivity" 
            android:exported="false" 
            android:screenOrientation="portrait" />

        <activity 
            android:name=".SettingsActivity" 
            android:exported="false" 
            android:screenOrientation="portrait" />

        <activity 
            android:name=".TimerActivity" 
            android:exported="false" 
            android:screenOrientation="portrait" />

        <receiver
            android:name=".ReminderReceiver"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
